<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>ZeusPark | 粹園</title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ZeusPark" />
    <meta name="author" content="WangZhijiong" />
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
    <link rel="stylesheet" href="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/css/header1.css" />
    <link rel="stylesheet" href="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/css/style_responsive.css" />
    <link rel="shortcut icon" href="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/zfavicon.ico" />
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/3.0.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
    @RenderSection("customstyles", required: false)
    <!-- CSS Theme -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/themes/default.css")" id="style_color" />
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")" id="style_color" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <!--=== Top ===-->
    <div class="top">
        <div class="container">
            <ul class="loginbar pull-right">
                <li>
                    <i class="icon-globe"></i><a>语言 <i class="icon-sort-up"></i></a>
                    <ul class="nav-list">
                        <li class="active"><a href="#">中文</a> <i class="icon-ok"></i></li>
                    </ul>
                </li>
                <li class="devider">&nbsp;</li>
                @{
                    if (Session["UserID"] == null)
                    {
                        <li><a href="@Url.Action("Register","User")" class="login-btn">注册</a></li>
                        <li class="devider">&nbsp;</li>
                        <li><a href="@Url.Action("Login","User")" class="login-btn">登陆</a></li>
                    }
                    else
                    {
                        <li>Welcome: @Session["UserID"]</li>
                    }
                }
            </ul>
        </div>
    </div><!--/top-->
    <!--=== End Top ===-->
    <!--=== Header ===-->
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <div class="logo">
                <a href="~/"><img id="logo-header" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/site/zlogo.png" alt="Logo" /></a>
            </div><!-- /logo -->
            <!-- Menu -->
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a><!-- /nav-collapse -->
                    <div class="nav-collapse collapse">
                        <ul class="nav top-2">
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    热卖产品
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/productdetail/details/425">花 时间</a></li>
                                    <li><a href="/productdetail/details/419">版画</a></li>
                                    <li><a href="/productdetail/details/419">新月三章</a></li>
                                    <li><a href="/productdetail/details/291">和合</a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    私享生活
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/productdetail/prodlist/200679074">居家生活</a></li>
                                    <li><a href="/productdetail/prodlist/200707038">永生花艺</a></li>
                                    <li><a href="/productdetail/prodlist/201592342">原作版画</a></li>
                                    <li><a href="/productdetail/prodlist/201058503">创意家居</a></li>
                                    <li><a href="/productdetail/prodlist/200707046">艺术配饰</a></li>
                                    <li><a href="/productdetail/prodlist/200707059">婴童专属</a></li>
                                    <li><a href="/productdetail/prodlist/200707073">创意杂货</a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    艺术精选
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/productdetail/prodlist/200594229">油画</a></li>
                                    <li><a href="/productdetail/prodlist/200642398">水墨</a></li>
                                    <li><a href="/productdetail/prodlist/200601451">雕塑</a></li>
                                    <li><a href="/productdetail/prodlist/200601842">摄影</a></li>
                                    <li><a href="/productdetail/prodlist/200641975">水彩</a></li>
                                    <li><a href="/productdetail/prodlist/200596195">丙烯</a></li>
                                    <li><a href="/productdetail/prodlist/200613598">粉笔</a></li>
                                    <li><a href="/productdetail/prodlist/200594230">铅笔画</a></li>
                                    <li><a href="/productdetail/prodlist/200659093">综合材料</a></li>
                                    <li><a href="/productdetail/prodlist/200596251">陶瓷</a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    设计服务
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">室内外设计</a></li>
                                    <li><a href="#">艺术影像</a></li>
                                    <li><a href="#">平面设计</a></li>
                                    <li><a href="#">传媒营销</a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>
                            @*<li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    帮助
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">配送方式</a></li>
                                    <li><a href="#">会员政策</a></li>
                                    <li><a href="#">支付方式</a></li>
                                    <li><a href="#">退换货</a></li>
                                </ul>
                                <b class="caret-out"></b>
                            </li>*@
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    会员管理
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    @{
                                        if (!string.IsNullOrEmpty(Session["UserID"] as string))
                                        {
                                            <li><a href="/User/UploadArticle">作品上传</a></li>
                                            <li><a href="#">用户信息</a></li>
                                        }
                                    }

                                </ul>
                                <b class="caret-out"></b>
                            </li>
                            <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                        </ul>
                        <div class="search-open">
                            <div class="input-append">
                                <form />
                                <input type="text" class="span3" placeholder="Search" />
                                <button type="submit" class="btn-u">查找</button>
                                </form>
                            </div>
                        </div>
                    </div><!-- /nav-collapse -->
                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div><!-- /container -->
    </div><!--/header -->
    <!--=== End Header ===-->
    @RenderBody()
    <!-- End Content Part -->
    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <!-- About -->
                    <div class="headline"><h3>关于Park</h3></div>
                    <p class="margin-bottom-25">ZeusPark(粋園)致力于打造互联网新一代“艺术消费商</p>
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h3>服务</h3></div>
                    <p><a href="#" class="">配送方式</a> 江浙沪送货上门</p>
                    <p><a href="#" class="">会员政策</a> 会员更多优惠</p>
                    <p><a href="#" class="">支付方式</a> 微信支付 或 货到付款</p>
                    <p><a href="#" class="">退换货</a> 7天免费退换货</p>

                </div><!--/span4-->

                <div class="span4">
                    <div class="posts">
                        <div class="headline"><h3>近期活动</h3></div>
                        <dl class="dl-horizontal">
                            <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">提供艺术品的鉴赏于投资，为艺术衍生、居家生活、物联科技产品提供跨界的交易平台</a></p>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">为日益蓬勃发展的艺术消费市场、为活跃于艺术界的艺术家和机构，提供了全新的展示、推广和开拓的平台</a></p>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt><a href="#"><img src="/assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">给以新晋收藏家、最求生活质量、具有艺术品位的人士全方位的生活艺术体验</a></p>
                            </dd>
                        </dl>
                    </div>
                </div><!--/span4-->
                <div class="span4">
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h3>联系Park</h3></div>
                    <address>
                         <br />
                        邮件: <a href="mailto:service@zeuspark.com" class="">service@zeuspark.com</a>
                    </address>
                    <!-- Stay Connected -->
                    <div class="headline"><h3>官方微信</h3></div>
                    <img src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/qrcode.jpg" alt="" />
                </div><!--/span4-->
            </div><!--/row-fluid-->
        </div><!--/container-->
    </div><!--/footer-->
    <!--=== End Footer ===-->
    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>Copyright ©ZeusPark 2011-2020 <a href="#">隐私权声明</a> | <a href="#">沪ICP备14014110号-3</a> 
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                            document.write(unescape("%3Cspan id='cnzz_stat_icon_1257074108'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1257074108%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
                        </script>
                    </p>
                </div>
                <div class="span4">
                    <a href="#"><img id="logo-footer" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/home/logo2-default.png" class="pull-right" alt="" /></a>
                </div>
            </div><!--/row-fluid-->
        </div><!--/container-->
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/modernizr.js"></script>
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/back-to-top.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/app.js"></script>
    <script type="text/javascript" src="http://zeusparkweb.oss-cn-shanghai.aliyuncs.com/js/index.js "></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initSliders();
            Index.initParallaxSlider();
        });
    </script>

    @RenderSection("customjs", required: false)

    <!--[if lt IE 9]>
        <script src="assets/js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '14014110']);
        _gaq.push(['_setDomainName', 'zeuspark.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>	