@model ZeusPark.Service.Model.ProductGroupVM

@{
    ViewBag.Title = "产品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/assets/css/img-hover-effect.css" />    

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">@Model.GroupName</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">主页</a> <span class="divider">/</span></li>
            <li class="active">@Model.GroupName</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-columns portfolio-responsive">
    <div class="row-fluid">
        @{
            foreach (var item in Model.Products)
            {
                <div class="view view-tenth span3" style="margin-left:0;">
                    <img src="@item.MainImageUrl" alt="" style="height: 300px; width:300px;" />
                    <div class="mask">
                        <h2>@item.Name  <br />¥@item.DisplaySinglePrice</h2>
                        <a href="/productdetail/details/@item.ProductID" class="info">产品详情</a>
                    </div>
                    <div>
                        <span class="name">@item.Name</span>
                        <span class="price">¥@item.DisplaySinglePrice</span>
                    </div>
                </div>
            }
        }
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
